fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pgvector
python-multipart
Pillow
scikit-learn
opentelemetry-distro
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-requests
